@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap');
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
background-color: hsl(252, 30%, 95%);}